#top-menu{
    /* position: absolute !important;
    top: 130px; */
    transform: translateY(120px);
    width: 100%;
    height: 100px !important;
    background-color: #F8EDE1;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}
#top-menu div{
    display: inline-block;
}
.content-left{
    margin-top: 15px;
}
.content-left ul{
    padding: 0;
    margin-top: -20px;
}
.content-left ul li{
    display: inline-block;
    list-style: none;
    font-size: 10px;
    font-weight: bold;
}
.content-left ul li a{
    font-size: 8px !important;
    font-weight: normal !important;
    text-decoration: none;
    color: black;
    text-align: center;
}
.content-left ul li a div{
    width: 50px;
    height: 10px;
    background-color: white;
    border-radius: 3px;
}
.content-right{
    margin-top: 15px;
    cursor: pointer;
}
.content-right ul{
    padding: 0;
}
.content-right ul li{
    list-style: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.content-right ul li:hover{
    font-weight: bold;
}
.content-right ul li a{
    text-decoration: none;
    color: black;
}
.content-right .content-sign:after{
    content: "|";
    margin-right: 10px;
    margin-left: 15px;
}
.content-right ul li button{
    width: 80px;
    height: 45px;
    color: white;
    font-size: large;
    font-weight: bold;
    background-color: #150037;
    border: none;
    opacity: 100%;
    border-radius: 20px;
    margin-right: 10px;
    transition: all 0.3s ease 0s;
}
.content-right ul li button:hover{
    background-color: rgba(1, 0, 55, 1);
    transform: scale(1.15,1.15);
}
.show-image{
    transform: translateY(120px);
}
.show-image{
    display: flex;
}
.show-image .image-1 img{
    width:100%;
    height: 400px;
}
.show-image .image-2 img{
    width:100%;
    height: 200px;
}
.show-image .image-3{ 
    width:100%;
    height: 400px;
    background-color: #150037;
    display: grid;
    place-items:center !important;
}
.show-image .image-3 #circle{
    width: 300px;
    height: 300px;
    background-color: #1A0045;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.show-image .image-3 #circle .food-decoration iconify-icon{
    font-size: 60px;
    color: white;
    /* position: absolute; */
    transform: translate(120px,120px) !important;
}
.food-decoration-img img{
    position: relative;
    width: 50px;
}

.show-image .image-1,.show-image .image-2{
    width: 25%;
}
.show-image .image-3{
    width: 50%;
}
.overview{
    transform: translateY(150px);
}
.overview fieldset legend{
    margin-left: 7%;
    font-size: 20px;
    color: orange;
    font-weight: 500;
}
.overview fieldset button{
    background-color:#00FF3885;
    border-radius: 10px;
    border: 0;
    padding: 7px;
}
.overview fieldset .spacing{
    margin-left: 7px;
    margin-right: 7px;
}
.overview fieldset .bottom-set{
    margin-top: 40px;
    margin-bottom: 10px;
}
.overview p{
    margin-top: 30px;
}
.overview .bottom-set a{
    text-decoration: none;
    color:black;
}
.open{
    color: green;
    display: none;
}
.close{

    color: red;
}
.underBody{
    width: 100%;
    transform: translateY(200px);
    display: flex;
}
.underBody .review{
    width: 50%;
}
.underBody .menuRestaurant{
    width: 50%;
    height: 500px;
    background-color: red;
}
.underBody .review table tr td{
    padding-left: 30px;
}
#email{
    width: 250px;
    height: 20px;
    outline: none;
}
#username{
    height: 20px;
    outline: none;
}
#comment{
    outline: none;
    resize: none;
}
#comment::placeholder{
    font-size: 20px;
    text-align: center;
    transform: translateY(150%);
}
#post{
    padding: 5px;
    width: 100px;
    background-color: blue;
    border: 0;
    color:white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
.commented .topcomment{
    display: flex;
    align-content: center;
    align-items: center;
}
.commented .topcomment label:not(:first-child){
   margin-left: 10px;
   font-size: 12px;
}
.commented {
    width: 100%;
}
.commented .bottoncomment{
    padding-left: 9%;
    width: 82%;
    word-break: break-all;
    margin-bottom: 20px;
}
.name{
    width: 200px;
}
#ratingStar label{
    color:white;
    text-shadow:0px 0px 5px orange;
    padding-left: 3px;
    font-size: 19px;
}
#ratingStar input{
   display: none;
}
#ratingStar label:hover{
    color:orange;
}
#ratingStar input:checked ~ label:not(::after) {
    color: orange;
}
#logoRefresh{
    transition: all 2s;
}
.checked{
    color:orange;
}
.recomnot{
    width: 140px;
    padding-left: 30px;
    
}

/* @keyframes food1-decoration-animation{
    from{transform: translate(0,0);}
    to{transform: translate(50px,20px);}
}
@keyframes food2-decoration-animation{
    from{transform: translate(0,0);}
    to{transform: translate(-50px,20px);}
}
@keyframes food3-decoration-animation{
    from{transform: translate(0,0);}
    to{transform: translate(80px,30px);}
}
@keyframes food4-decoration-animation{
    from{transform: translate(0,0);}
    to{transform: translate(-80px,30px);}
}
@keyframes food5-decoration-animation{
    from{transform: translate(0,0);}
    to{transform: translate(100px,50px);}
}
@keyframes drink1-decoration-animation{
    from{transform: translate(0,0);}
    to{transform: translate(-100px,50px);}
}
@keyframes drink2-decoration-animation{
    from{transform: translate(0,0);}
    to{transform: translate(150px,20px);}
} */