#top-menu{
    transform: translateY(120px);
    height: 75px !important;
    background-color: #F8EDE1;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}
#top-menu div{
    display: inline-block;
}
.content-left{
    margin-top: 5px;
}
.content-left ul{
    padding: 0;
    margin-top: -20px;
}
.content-left ul li{
    display: inline-block;
    list-style: none;
    font-size: 10px;
    font-weight: bold;
}
.content-left ul li a{
    font-size: 8px !important;
    font-weight: normal !important;
    text-decoration: none;
    color: black;
    text-align: center;
}
.content-left ul li a div{
    width: 50px;
    height: 10px;
    background-color: white;
    border-radius: 3px;
}
.content-right{
    margin-top: 5px;
    cursor: pointer;
}
.content-right ul{
    padding: 0;
}
.content-right ul li{
    list-style: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.content-right ul li a:hover{
    font-weight: bold;
}
.content-right ul li a{
    text-decoration: none;
    color: black;
}
.content-right .content-sign:after{
    content: "|";
    margin-right: 10px;
    margin-left: 15px;
}
.content-right ul li button{
    width: 80px;
    height: 45px;
    color: white;
    font-size: large;
    font-weight: bold;
    background-color: #150037;
    border: none;
    opacity: 100%;
    border-radius: 20px;
    margin-right: 10px;
    transition: all 0.3s ease 0s;
}
.content-right ul li button:hover{
    background-color: rgba(1, 0, 55, 1);
    transform: scale(1.15,1.15);
}
.show-image{
    transform: translateY(120px);
}
.show-image{
    display: flex;
}
.show-image .image-1 img{
    object-fit: cover;
    width:100%;
    height: 340px;
}
.show-image .image-2 img{
    object-fit: cover;
    width:100%;
    height: 170px;
}
.show-image .box{ 
    width:100%;
    height: 340px;
    background-color: #150037;
    /* background-color: #eae0d5; */
    display: grid;
    place-items:center !important;
}
.show-image .box .circle{
    width: 300px;
    height: 300px;
    background-image: url("../css/../page/image/profile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: grid;
    place-items: center;
    z-index: 3;
}
.show-image .box .circle iconify-icon{
    opacity: 40%;
    font-size: 60px;
    color: white;
    z-index: 2;
    animation: 1s linear 0s 1 iconAnimation;
    grid-column: 1;
    grid-row: 1;
}
.box .circle .image{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 0, 0);
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
}
.box .circle :nth-child(2){
    transform: translate(20px,-160px);
    animation: 1s linear 0s 1  drink1-decoration-animation;
}
.box .circle :nth-child(3){
    transform: translate(100px,-70px);
    animation: 1s linear 0s 1  food1-decoration-animation;
}
.box .circle :nth-child(4){
    transform: translate(105px,65px);
    animation: 1s linear 0s 1  food2-decoration-animation;
}
.box .circle :nth-child(5){
    transform: translate(-30px,150px);
    animation: 1s linear 0s 1  food3-decoration-animation;
}
.box .circle :nth-child(6){
    transform: translate(-120px,55px);
    animation: 1s linear 0s 1  drink2-decoration-animation;
}
.box .circle :nth-child(7){
    transform: translate(-170px,-40px);
    animation: 1s linear 0s 1  food4-decoration-animation;
}
.box .circle :nth-child(8){
    transform: translate(-100px,-140px);
    animation: 1s linear 0s 1  food5-decoration-animation;
}

#drink1 img{
    width: 90px;
}
#food1 img{
    width: 120px;
}
#food2 img{
    width: 70px;
}
#food3 img{
    width: 90px;
}
#drink2 img{
    width: 50px;
}
#food4 img{
    width: 90px;
}
#food5 img{
    width: 90px;
}
.show-image .image-1,.show-image .image-2{
    width: 25%;
}
.show-image .box{
    width: 50%;
}
.overview{
    transform: translateY(160px);
    margin-left: 15px;
    margin-right: 15px;
}
.overview .text{
    text-align: justify;
    margin-top: 10px;
}
.overview fieldset{
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.overview fieldset legend{
    margin-left: 7%;
    font-size: 20px;
    color: orange;
    font-weight: 500;
    padding: 0 10px;
}
.overview fieldset .overview-mid-content{
    display: flex;
}
.overview fieldset .overview-mid-content .menu{
    width: 50%;
}
.overview fieldset .overview-mid-content .menu .menu-title{
    font-size: 18px;
    color: orange;
    font-weight: 500;
    padding: 10px 0px;
    text-align: center;
}
.overview fieldset .overview-mid-content .menu .menu-list{
    width: 99%;
    height: 300px;
    background-color: #f4f4f4;
}
.overview fieldset .overview-mid-content .trending{
    margin-left: 1%;
    width: 50%;
}
.overview fieldset .overview-mid-content .trending .trending-title{
    font-size: 18px;
    color: orange;
    font-weight: 500;
    padding: 10px 0px;
    text-align: center;
}
.overview fieldset .overview-mid-content .trending .trending-photos{
    display: grid;
    grid-template-columns: repeat(3,185px);
    grid-auto-rows: 185px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    width: 100%;
    height: 315px;
    overflow-x: scroll;
}
.overview fieldset .overview-mid-content .trending .trending-photos .trending-items{  
    background-color: #f4f4f4;
}
.overview fieldset .overview-mid-content .trending .trending-photos .trending-items img{
    object-fit: cover !important;
}
.overview fieldset button{
    outline: 1px solid #00a700;
    background-color: white;
    border-radius: 10px;
    border: 0;
    padding: 7px;
    font-size: 13px;
    margin-top: -10px;
    cursor: pointer;
    transition: 0.1s;
}
.overview fieldset button:hover{
    background-color: #00a700;
    color: white;
}
.overview fieldset .spacing{
    margin-left: 10px;
    margin-right: 10px;
}
.overview fieldset .bottom-set{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 13px;
}
.overview fieldset .bottom-set #location{
    width: 370px;
    height: 15px;
    overflow: hidden;
}
.overview .bottom-set{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.overview .bottom-set div a{
    text-decoration: none;
    color:black;
}
.open{
    color: green;
    display: none;
    font-weight:bold;
}
.close{
    color: red;
    font-weight: bold;
}
.underBody{
    width: 100%;
    transform: translateY(200px);
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}
.underBody .review{
    width: 50%;
}
.underBody .review fieldset::-webkit-scrollbar-thumb{
    background-color: orange;
}
.underBody .review fieldset{
    height: 160vh;
    overflow: scroll;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
.underBody .review fieldset legend{
    margin-left: 7%;
    font-size: 20px;
    color: orange;
    font-weight: 500;
    padding: 0 10px;
}
.underBody .menuRestaurant{
    width: 50%;
    height: 500px;

}
.underBody .menuRestaurant .similarRestaurant .menu{
    width:95%;
    height: 250px;
    margin-top: 20px;
    
}
.underBody .menuRestaurant .similarRestaurant .menu img{
    width: 100%;
    height: 190px;

    align-items: center;
    align-content: center;
    text-align: center;
}
.underBody .menuRestaurant .similarRestaurant{
    /* display: flex;
    flex-direction: column; */
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(48%,5fr));
    gap: 1.25rem;;
    padding-left: 15px;
}
.underBody .menuRestaurant .similarRestaurant .menu .name-restaurant{
    font-size: 20px;
}
.underBody .review table tr td{
    padding-left: 30px;
}
#email{
    width: 250px;
    height: 20px;
    outline: none;
}
#username{
    height: 20px;
    outline: none;
}
#comment{
    outline: none;
    resize: none;
}
#comment::placeholder{
    font-size: 20px;
    text-align: center;
    transform: translateY(150%);
}
#post{
    padding: 5px;
    width: 100px;
    background-color: blue;
    border: 0;
    color:white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
.commented .topcomment{
    display: flex;
    align-content: center;
    align-items: center;
}
.commented .topcomment label:not(:first-child){
   margin-left: 10px;
   font-size: 12px;
}
.commented {
    width: 100%;
}
.commented .bottoncomment{
    padding-left: 9%;
    width: 82%;
    word-break: break-all;
    margin-bottom: 20px;
}
.name{
    width: 200px;
}
#ratingStar label{
    color:rgb(255, 255, 255);
    text-shadow:0px 0px 4px orange;
    padding-left: 3px;
    font-size: 19px;
}
#ratingStar input{
   display: none;
}
#ratingStar label:hover{
    color:orange;
}
#ratingStar input:checked ~ label:not(::after) {
    color: orange;
}
#logoRefresh{
    transition: all 2s;
}
.checked{
    color:orange;
}
.recomnot{
    width: 140px;
    padding-left: 30px;
    
}

@keyframes iconAnimation {
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 70%;
    }
    100%{
        opacity: 40%;
    }
    
}
@keyframes drink1-decoration-animation {
    0% {
        transform: translate(0,0);
        opacity: 0%;
    }
    25%{
        opacity: 30%;
    }
    50%{
        opacity: 55%;
    }
    75%{
        opacity: 80%;
    }
    100% {
        transform: translate(20px,-160px);
    }
}
@keyframes food1-decoration-animation {
    0% {
        transform: translate(0,0);
        opacity: 0%;
    }
    25%{
        opacity: 30%;
    }
    50%{
        opacity: 55%;
    }
    75%{
        opacity: 80%;
    }
    100% {
        transform: translate(100px,-70px);
    }
}
@keyframes food2-decoration-animation {
    0% {
        transform: translate(0,0);
        opacity: 0%;
    }
    25%{
        opacity: 30%;
    }
    50%{
        opacity: 55%;
    }
    75%{
        opacity: 80%;
    }
    100% {
        transform: translate(105px,65px);
    }
}
@keyframes food3-decoration-animation {
    0% {
        transform: translate(0,0);
        opacity: 0%;
    }
    25%{
        opacity: 30%;
    }
    50%{
        opacity: 55%;
    }
    75%{
        opacity: 80%;
    }
    100% {
        transform: translate(-30px,150px);
    }
}
@keyframes drink2-decoration-animation {
    0% {
        transform: translate(0,0);
        opacity: 0%;
    }
    25%{
        opacity: 30%;
    }
    50%{
        opacity: 55%;
    }
    75%{
        opacity: 80%;
    }
    100% {
        transform: translate(-120px,55px);
    }
}
@keyframes food4-decoration-animation {
    0% {
        transform: translate(0,0);
        opacity: 0%;
    }
    25%{
        opacity: 30%;
    }
    50%{
        opacity: 55%;
    }
    75%{
        opacity: 80%;
    }
    100% {
        transform: translate(-170px,-40px);
    }
}
@keyframes food5-decoration-animation {
    0% {
        transform: translate(0,0);
        opacity: 0%;
    }
    25%{
        opacity: 30%;
    }
    50%{
        opacity: 55%;
    }
    75%{
        opacity: 80%;
    }
    100% {
        transform: translate(-80px,-100px)9
    }
}