*{
    font-family: "Inter", sans-serif;
}
body{
    margin: 0;
    background-color:white;
    /* align-content: center;
    align-items: center;
    text-align: center; */
    height: 3000vh;
}
::-webkit-scrollbar {
    width: 0px;
}
.header-bar{
    transition-duration: 1s;
    width: 100%;
    height: 120px;
    background-color: white;
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    position: fixed;
    animation: animationHeaderBar 1s linear 1;
    border-bottom:1px solid white;
    /* border-bottom-left-radius:15px;
    border-bottom-right-radius:15px; */
    /* box-shadow: 0px 3px 3px rgb(229, 229, 229); */
    z-index: +1;

}
.logo-bar{
    transform: translateX(45px) !important;
    width: 100px;
}
.label-logo{
    color: orange;
    font-size: 20px;
    font-family: 'Cooper Black', sans-serif;
}
.form{   
    position: relative;
    display: flex;
    height: 35px !important;
    transform: translateX(130px) !important;
    border:2px solid #F3F3F3;
    border-radius: 20px;
    box-shadow: 0px 1px 3px grey;
}
.form:hover,.form:focus{
    box-shadow: 0px 0px 0px grey;
}
#choosen-bar{
    text-align: center;
    outline: none;
    border: none;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    cursor: pointer;
    background-color: #F3F3F3;
}
#search-bar{
    outline: none;
    border: none;
    background-color:#F3F3F3;
}
#search-bar::placeholder{
    font-family: "Kotta One",sans-serif;
}
#button-search{
    text-align: center;
    align-content: center;
    align-items: center;
    width: 40px !important;
    outline: none;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border: none;
    background-color: #F3F3F3;
    cursor: pointer;
}
.menu-bar{
    position: relative;
    display: inline-block;
    transform: translateX(80px) !important;
    animation: leftToRight 2s;
}
.menu-bar ul{
    display: flex;
}
.menu-bar ul li a{
    color: orange;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}
.menu-bar ul li #filter{
    color: orange;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
}
.menu-bar ul li #filter .f{
    font-size: 20px !important;
    font-weight: none !important;
}
.menu-bar ul li{
    list-style-type:none;
    display:inline-block;
    width: 120px !important;
    text-align: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
}
.menu-bar ul li:hover{
    transform: translateY(-4px) !important;
    /* border-radius: 10%;
    background-color: #DEECFC;
    box-shadow: 1px 1px 6px rgb(254, 214, 165); */
}
/* slide show */
.slides *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: upperTO 1s linear 1;
}
.slides{
    width: 100%;
    transform: translateY(130px) !important;
    /* transform: translateX(12px) !important; */
    background-color: #F8EDE1B2;

}
.container{
    width: 100%;
    height: 80vh;
    justify-content: center;
    position:relative;
    text-align: center;
    align-content: center;


}
.swaper{
    width: 100%;
    height: fit-content;
    background-color: rgb(241, 0, 0);
    position: relative;
    transform: translateX(50px) !important;

}
.swaper .swiper-wrapper{
    width: 100%;
    margin: 0px;
   
}
.swiper-slide img{

    width: 87%;
    height: 80vh;
}
.swiper-wrapper{
    margin: 0;
}
.swiper .swiper-button-prev,.swiper .swiper-button-next{
    color: gray;
    width: 50px !important;
}
.swiper .swiper-pagination-bullet-active{
    background-color:grey;
}
.swiper .swiper-button-prev:hover .slides{
    background-color: red;
}
/* body */
.body{
    padding-left: 6%;
    padding-right: 7.5%;
    padding-top:40px !important;
    transform:translateY(140px);
    z-index: +1;
    margin-left: 7px;
    width: 86%;
    height: 200vh !important;

    /* animation: rightToLeft 1s linear 1; */
}
/* .bodys{
    transform:translateY(160px);

} */
#body-bar{
    display: flex;
    width: 100%;
}
/* .body-bar{
    animation: upTo 0.75s linear 1;
} */
.share{
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius:5px;
    width: 220px;
    height: 125px;
    border: 1px solid rgb(184, 184, 184);
    /* box-shadow: 0px 1px 6px gray; */
    cursor:pointer;
}
.share .h3{
    text-decoration: none;
    color:orange;
    font-size: 15px;
}
.fine{
    transform: translateX(80%);
}
.reserve{
    transform: translateX(159%);
}
.share:hover{
    box-shadow: 0.5px 0.5px 3px gray;
}
.shopping label{
    text-decoration:none;
    color:orange;
    font-size: 25px !important;
    font-weight: 400;
}
.p{
    font-size: 15px !important;
}

/* menu */
.shopping{
    width: 100%;
    height: 100vh !important;
}

.recommence{
    width:102% !important;
    height: 250px;
    display: flex;
    overflow-x: scroll;
}
.recommence::-webkit-scrollbar-thumb{
    background-color: orange;
    height: 20px;
}
.recommence .recom{
    margin-left: 20px;
    display:inline-block;
    text-align: center;
}
.restaurants .recom{
    width: 290px;
    height: 180px;
}
.restaurants .menu-1{
    background-color: rgb(23, 23, 23);
}
.restaurants .menu-2{
    background-color: rgb(246, 255, 0);
}
.restaurants .menu-3{
    background-color: rgb(0, 255, 30);
}
.restaurants .menu-4{
    background-color: rgb(36, 83, 95);
}
.restaurants .menu-5{
    background-color: rgb(55, 0, 255);
}
.restaurants .menu-6{
    background-color: rgb(242, 0, 255);
}
.restaurants .menu-7{
    background-color: rgb(255, 0, 174);
}
.restaurants .menu-8{
    background-color: rgb(0, 255, 136);
}
.restaurants .menu-9{
    background-color: rgb(76, 99, 0);
}
.restaurants .menu-10{
    background-color: rgb(255, 166, 0);
}
.ratingStar{
    transform: translateY(-35px);
    display: flex;
}
.ratingStar input{
    display: none;
}

.ratingStar span{
    font-size: 15px;
    text-shadow: 1px 1px 1px gray;
    color: #F3F3F3;
}
.ratingStar .checked{
    color: orange;
}
.restaurant{
    width: 102%;
}


.restaurants .recom .span-popular{
    color:orange;
    font-size: 17px;
    margin-left: 10px;
    transform: translateY(-35px);
    float: left;
}
.restaurants .recom .span-popular1{
    color: blue;
    font-size: 13px;
    margin-left: 30px;
    transform: translateY(-31px);
    float: left;
}
.restaurants .recom .span-popular2{
    float: right;    
    font-size: 13px;
    color:#05FF00;
    transform: translateY(-31px);
}
.restaurants div .recom img{
    width:100%;
    height:100%;
}
.restaurants div .recom span img{
    width:100%;
    height:100%;
}
.restaurants div .recom p{
    transform: translateY(-20px);
    float:left;
    font-size: 20px;
}
.restaurants div .recom .ratingStar{
    float: left;
}
.recommence{
    height: 320px;
}
.restaurant div{
    margin-top: 15px;
    float: left;
    padding-left: 10px;
} 
.restaurant div .recom{
    width: 280px;
}
.restaurant .hide-1{
    display: none;
    
}
.see-more{
    outline: none;
    border: 0;
    background-color: white;
    padding: 5px;
}
.see-more-1{
    transform: translateX(950px);
}
.see-more-11{
    transform: translateX(1150px);
}
.clear{
    clear: both;
}

@keyframes animationHeaderBar{
    from{
        transform: translateY(-120px);
    }to{
        transform: translateY(0px);
    }
}
@keyframes leftToRight{
    from{
        right: 0;
    }to{
        right: 100px !important;
    }
}
@keyframes upTo{
    from {
        /* transform: translateX(600px); */
        transform: translateY(900px);
        opacity: 0;

    }
    to {
        /* transform: translateX(0px); */
        transform: translateY(0px);
    }
}
@keyframes upperTO{
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1)
    }
}