*{
    font-family: "Inter", sans-serif;
}
body{
    margin: 0;
    background-color:white;
    /* align-content: center;
    align-items: center;
    text-align: center; */
    position: relative;
}
::-webkit-scrollbar {
    width: 0px;
}
.header-bar{
    transition-duration: 1s;
    width: 100%;
    height: 120px;
    background-color: white;
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    position: fixed;
    animation: animationHeaderBar 1s linear 1;
    border-bottom:1px solid white;
    /* border-bottom-left-radius:15px;
    border-bottom-right-radius:15px; */
    /* box-shadow: 0px 3px 3px rgb(229, 229, 229); */
    z-index: +1;

}
.web-logo{
    display: flex;
    text-decoration: none;
    color: black;
}
.logo-bar{
    transform: translateX(45px) !important;
    width: 100px;
}
.logo-title{
    padding-top: 20px;
    cursor: pointer;
}
.label-logo{
    color: orange;
    font-size: 20px;
    font-family: 'Cooper Black', sans-serif;
    cursor: pointer;
}
.form{   
    position: relative;
    display: flex;
    height: 35px !important;
    transform: translateX(100px) !important;
    border:2px solid #F3F3F3;
    border-radius: 20px;
    box-shadow: 0px 1px 3px grey;
}
.form:hover,.form:focus{
    box-shadow: 0px 0px 0px grey;
}
#choosen-bar{
    text-align: center;
    outline: none;
    border: none;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    cursor: pointer;
    background-color: #F3F3F3;
}
#search-bar{
    outline: none;
    border: none;
    background-color:#F3F3F3;
}
#search-bar::placeholder{
    font-family: "Kotta One",sans-serif;
}
#button-search{
    text-align: center;
    align-content: center;
    align-items: center;
    width: 40px !important;
    outline: none;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border: none;
    background-color: #F3F3F3;
    cursor: pointer;
}
.menu-bar{
    position: relative;
    display: inline-block;
    transform: translateX(80px) !important;
    animation: leftToRight 2s;
}
.menu-bar ul{
    display: flex;
}
.menu-bar ul li a{
    color: orange;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
}
.menu-bar ul li #filter{
    color: orange;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
}
.menu-bar ul li #filter .f{
    font-size: 15px !important;
    font-weight: none !important;
}
.menu-bar ul li{
    list-style-type:none;
    display:inline-block;
    width: 110px !important;
    text-align: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.menu-bar ul li:hover{
    transform: scale(1.2,1.2) !important;
    font-weight: bolder;
    /* transform: translateY(-4px) !important; */
    /* border-radius: 10%;
    background-color: #DEECFC;
    box-shadow: 1px 1px 6px rgb(254, 214, 165); */
}
/* slide show */
.slides *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: upperTO 1s linear 1;
}
.slides{
    width: 100%;
    transform: translateY(130px) !important;
    /* transform: translateX(12px) !important; */
    background-color: #F8EDE1B2;

}
.container{
    width: 100%;
    height: 80vh;
    justify-content: center;
    position:relative;
    text-align: center;
    align-content: center;


}
.swaper{
    width: 100%;
    height: fit-content;
    background-color: rgb(241, 0, 0);
    position: relative;
    transform: translateX(50px) !important;

}
.swaper .swiper-wrapper{
    width: 100%;
    margin: 0px;
   
}
.swiper-slide img{

    width: 87%;
    height: 80vh;
}
.swiper-wrapper{
    margin: 0;
}
.swiper .swiper-button-prev,.swiper .swiper-button-next{
    color: gray;
    width: 50px !important;
}
.swiper .swiper-pagination-bullet-active{
    background-color:grey;
}
.swiper .swiper-button-prev:hover .slides{
    background-color: red;
}
/* body */
.body{
     /* padding-left: 6%; */
    /* padding-right: 7.5%; */
    padding-top:40px !important;
    transform:translateY(140px);
    margin-left: 7px;
    width:98%;
    clear:both;
    /* animation: rightToLeft 1s linear 1; */
}
.bodys{
    transform:translateY(160px);

}
#body-bar{
    display: flex;
    transform: translateX(6%);
    width: 90%;
}
/* .body-bar{
    animation: upTo 0.75s linear 1;
} */
.share{
    text-align: center;
    background-color: white;
    border-radius:5px;
    width: 220px;
    height: 125px;
    border: 1px solid rgb(184, 184, 184);
    /* box-shadow: 0px 1px 6px gray; */
}
.share .h3{
    color:orange;
    font-size: 15px;
}
.fine{
    transform: translateX(80%);
}
/* .fine legend iconify-icon{
    padding-bottom: 10px;
} */
.reserve{
    transform: translateX(155%);
}
.shopping label{
    color:orange;
    font-size: 25px !important;
    font-weight: 400;
}
.p{
    font-size: 15px !important;
}

/* menu */
.shopping{
    width: 99%;
    margin-left: 1.8%;
}

.recommence{
    width:100% !important;
    height: 250px;
    display: flex;
    overflow-x: scroll;
}
.recommence::-webkit-scrollbar-thumb{
    background-color: orange;
}
.recommence .recom{
    margin-left: 20px;
    text-align: center;
}
.restaurants .recom{
    width: 290px;
    height: 180px;
}
.ratingStar{
    display: flex;
}
.ratingStar input{
    display: none;
}

.ratingStar span{
    font-size: 15px;
    text-shadow: 1px 1px 1px gray;
    color: #F3F3F3;
}
.ratingStar .checked{
    color: orange;
}
.restaurant{
    width: 100%;
}
.footer-menu{
    display:flex;
    transform: translateY(-20px);

}

.footer-menu{
    width: 100%;
}
.footer-menu .span-popular{
    color:orange;
    font-size: 13px;
    padding-left: 10px;
}
.footer-menu .span-popular1{
    color: blue;
    font-size: 13px;
    padding-left: 14px;
  
}
.footer-menu .span-popular2{   
    font-size: 13px;
    color:#05FF00;
    padding-left: 7px;
}
.restaurants div .recom img{
    width:100%;
    height:100%;
}
.popular span div{
    padding-top: 60px;
}
.restaurants div .recom p{
    transform: translateY(-20px);
    text-align: left;
    font-size: 17px;
}

.restaurants div .recom .ratingStar{

}
.recommence{
    height: 320px;
}
.restaurant{
    width: 100%;
}
.restaurant div .footer-menu{
    text-align: left;
    margin-left: 0;
    padding-left: 0;
}
.restaurant div .footer-menu .span-popular1{
    padding-left: 0px;
}
.see-more{
    outline: none;
    border: 0;
    background-color: white;
    padding: 5px;
}

.see-more-1,.see-more-2,.see-more-3,.see-more-4,.see-more-5{
    transform: translateX(950px);
}
.see-more-1{
    transform: translateX(900px);

}
.see-more-11,.see-more-22,.see-more-33,.see-more-44,.see-more-55{
    transform: translateX(1150px);
}
.clear{
    clear: both;
}

.restaurant .part{
    width: 97%;
    height: 260px;
    display: flex;
}
.hide-1,.hide-2,.hide-3,.hide-4,.hide-5{
    display: none;
}
.restaurant {
    display: table; 
    
}
.restaurant .part .menu{
    width: 290px;
    height: 180px;
    background-color: black;
    margin-left: 23px;
}
/* .restaurant span .part{
    transform: translateY(-10px);
} */
.restaurant .part .menu img{
    width: 100%;
    height: 100%;
}
.restaurant .part .menu p{
    transform: translateY(-10px);
    font-size: 17px;
}
.restaurant .part .menu .footer-menu{
    width: 100%;
}
.restaurant .part .menu .footer-menu .span-popular2 {
    padding-left: 10px;
}
.restaurant .part .menu .footer-menu .span-popular1{
    padding-left: 10px;
}
.restaurant .part1{
    padding-top: 20px;
}
#footer{
    width: 100%;
    height: 120px;
    position: relative;
    align-items: center;
    align-content: center;
    display: inline-flex;
    clear: both;
    transform: translateY(50px);
}
#footer a{
    text-decoration: none;
    font-size: 30px;
    color:orange;
    padding-left: 15px;
}
#footer img{
    padding-left: 25px;
}
#footer h3{
    color: orange;
    font-size: 20px;
    padding-left: 20px;
}
#footer .left{
    display: flex;
    padding-left: 25%;
}
#footer .left .other{
    font-size: 15px;
    color:black;
    padding: 10px;
    font-weight: 500;
}
@keyframes animationHeaderBar{
    from{
        transform: translateY(-120px);
    }to{
        transform: translateY(0px);
    }
}
@keyframes leftToRight{
    from{
        right: 0;
    }to{
        right: 100px !important;
    }
}
@keyframes upTo{
    from {
        /* transform: translateX(600px); */
        transform: translateY(900px);
        opacity: 0;

    }
    to {
        /* transform: translateX(0px); */
        transform: translateY(0px);
    }
}
@keyframes upperTO{
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1)
    }
}